<section class="text-black">
  <h1 class="text-base md:text-2xl font-extrabold">Esqueceu sua senha?</h1>
  <p class="text-xs">Para cadastrar sua nova senha, insira o token que você recebeu por email:</p>

  <form [formGroup]="loginForm" (submit)="submit()" class="grid grid-cols-1 text-sm mt-7 mx-auto pb-6">
    <mat-form-field>
      <mat-label>Token</mat-label>
      <input class="inputEmail" matInput type="text" formControlName="token" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nova senha</mat-label>
      <input class="inputPassword" formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
      <button mat-icon-button type="button" matSuffix class="hide-btn-password" (click)="hide = !hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirmar senha</mat-label>
      <input
        class="inputPassword"
        formControlName="confirmPassword"
        matInput
        [type]="hide ? 'password' : 'text'" />
      <button mat-icon-button type="button" matSuffix class="hide-btn-password" (click)="hide = !hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <button
      [disabled]="loginForm.invalid"
      class="py-4 forgot-button"
      [ngClass]="{ disabled: loginForm.invalid }">
      Continuar
    </button>
  </form>
</section>
