<section class="search">
  <div class="search-container">
    <div class="input-container">
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="textSearch" (ngModelChange)="search()" />
      </mat-form-field>

      <div class="search-icon">
        <mat-icon>search</mat-icon>
      </div>

      <ng-container *ngIf="hasSelect">
        <mat-form-field appearance="outline">
          <mat-label>Fábricas</mat-label>
          <mat-select>
            <mat-option *ngFor="let factory of factories" [value]="factory.id">
              {{ factory.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>

    <ng-content select="[before]"></ng-content>
    <div class="action" *ngIf="useButton">
      <button
        *ngIf="routerLinkAction; else clickButton"
        [routerLink]="[routerLinkAction]">
        {{ buttonLabel }}
      </button>
      <ng-template #clickButton>
        <button (click)="clickButtonEvent.emit()">{{ buttonLabel }}</button>
      </ng-template>
    </div>
  </div>
</section>
