.input-container {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: end;

  .datainput {
    display: flex;
    width: 100%;
  }
}

.graph-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2{
    font-size: 22px;
    line-height: 33px;
    color: #3B3B3B;
  }
}
