.container {
  display: flex;
  max-width: 100%;
  height: 85px;
  padding: 0 5%;
  align-items: center;
  justify-content: space-between;
  background: #eeeeee 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  box-sizing: border-box;
}
