<section class="text-black">
  <h1 class="text-base md:text-2xl font-extrabold">Esqueceu sua senha?</h1>
  <p class="text-xs">Digite seu e-mail para que possamos enviar um código de verificação:</p>

  <form [formGroup]="forgotPassword" (submit)="submit()" class="grid grid-cols-1 text-sm mt-7 mx-auto pb-6">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input class="inputEmail" matInput type="email" formControlName="email" />
    </mat-form-field>

    <button
      [disabled]="forgotPassword.invalid"
      class="py-4 forgot-button"
      [ngClass]="{ disabled: forgotPassword.invalid }">
      Continuar
    </button>
  </form>
</section>
