<app-user-details [user]="player"></app-user-details>
<div class="mt-5">
  <section class="flex items-center justify-between">
    <div class="border border-solid border-gray-500 py-2 px-10 rounded-lg h-11">
      <p>{{ pendingPlayers }} left to be approved</p>
    </div>
    <div class="flex gap-5">
      <button (click)="reprovePlayer(player.id)" mat-stroked-button class="uppercase h-10">Refuse</button>
      <button (click)="approvePlayer(player.id)" mat-stroked-button class="uppercase h-10 green">Approve</button>
    </div>
  </section>
</div>
