<div class="flex flex-col gap-5 shadow-md p-5 rounded-lg border border-blue border-solid">
  <article>
    <div class="flex justify-between">
      <h2 class="uppercase text-blue text-xl font-bold mb-3">Datos</h2>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
      <article>
        <h3 class="text-lg font-medium">Nome</h3>
        <p class="text-sm font-light">Marina Silva</p>
      </article>
      <article>
        <h3 class="text-lg font-medium">CPF/UF</h3>
        <p class="text-sm font-light">000000000-00</p>
      </article>
      <article>
        <h3 class="text-lg font-medium">Teléfono</h3>
        <p class="text-sm font-light">(00)00000-0000</p>
      </article>
      <article>
        <h3 class="text-lg font-medium">Correo electrónico</h3>
        <p class="text-sm font-light">{{ 'teste@ds.com' }}</p>
      </article>
    </div>
  </article>


  @if(isConsumption){
  <article>
    <h2 class="uppercase text-blue text-xl font-bold mb-3">COMPRA</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
      <article>
        <h3 class="text-lg font-medium">Valor</h3>
        <p class="text-sm font-light">{{ 200 | currency : 'CLP' }}</p>
      </article>
      <article>
        <h3 class="text-lg font-medium">Desconto</h3>
        <p class="text-sm font-light">{{ 100 | currency : 'CLP' }}</p>
      </article>
      <article>
        <h3 class="text-lg font-medium">Efectivo generado</h3>
        <p class="text-sm font-light">{{ 100 | currency : 'CLP' }}</p>
      </article>
      <article>
        <h3 class="text-lg font-medium">Vendedor</h3>
        <p class="text-sm font-light">Carlos</p>
      </article>
    </div>
  </article>
  }@else {
  <article>
    <h2 class="uppercase text-blue text-xl font-bold mb-3">reembolso</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
      <article>
        <h3 class="text-lg font-medium">Total</h3>
        <p class="text-sm font-light">{{ 200 | currency : 'CLP' }}</p>
      </article>
    </div>
  </article>
  }
</div>
