@use '../../styles/shared.scss';

.card-section {
  background-color: #fff;
  border-radius: 18px;
  border: none;
  padding: 16px;
  display: grid;
  gap: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

    color: #0f0f0f;
  }

  p {
    font-size: 16px;
    font-weight: bold;
  }
}
