@mixin flex{
  display: flex;
}

@mixin flex-column{
  @include flex;
  flex-direction: column;
}

.upload-container {
  margin-top: 8px;
  > .preview-image-upload{
    @include flex-column;
    align-items: center;
    border: 1px dashed #00000080;
    padding: 30px;
    cursor: pointer;
    position: relative;
    gap: 8px;
    border-radius: 8px;
    margin-bottom: 16px;

    > img{
      width: 140px;
    }

    > span{
      font: normal normal 300 18px/20px 'Poppins','sans-serif';
      font-size: 12px;

      &.title{
        font-weight: bold;
        font-size: 18px;
      }
    }

    > input {
      display: none;
    }

    .actions {
      opacity: 0;
      transition: all ease 0.4s;
      cursor: pointer;
      position: absolute;
      align-items: center;
      gap: 10px;
      display: grid;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      justify-items: center;

      &:hover {
        background: #000a;
        opacity: 1;
      }

      > span {
        font: normal normal 300 14px/21px 'Poppins','sans-serif';
        color: #FFF
      }
    }
  }

  > .check-image-upload > .image-uploaded {
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    min-height: 40px;
    border-radius: 6px;
    background: #F5F5F5;
    letter-spacing: var(--unnamed-character-spacing-0);
    gap: 8px;    
    margin-bottom: 32px;

    > span {    
      word-break: break-all;
      font: normal normal 300 14px/21px 'Poppins','sans-serif';
    }

    .mat-actions {
      @include flex();
      gap: 4px;

      > .check, > .delete {        
        @include flex();
        align-items: center;
        justify-content: center;
        height: 28px;
        width: 28px;
        border-radius: 50%;
      }

      > .check{
        color: #70C72D;
        border: 1px solid #c2f29d;
        background: #c2f29d;
      }

      > .delete {
        color: #ff0000;
        border: 1px solid #f8b1b1;
        background: #f8b1b1;
      }
    }

    &:hover{
      cursor: pointer;
    }

    @media (max-width: 768px) {
      @include flex-column;
    }
  }
}