<div class="flex flex-col gap-5 shadow-md p-5 rounded-lg border border-blue border-solid">
  <article>
    <div class="flex justify-between">
      <h2 class="uppercase text-blue text-xl font-bold mb-3">Detalles de la tienda</h2>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
      <article>
        <h3 class="text-lg font-medium">Nombre</h3>
        <p class="text-sm font-light">Marina Silva</p>
      </article>
      <article>
        <h3 class="text-lg font-medium">CNPJ</h3>
        <p class="text-sm font-light">00.000.000/0000</p>
      </article>
      <article>
        <h3 class="text-lg font-medium">Ciudad</h3>
        <p class="text-sm font-light">São Paulo</p>
      </article>
      <article>
        <h3 class="text-lg font-medium">Estado</h3>
        <p class="text-sm font-light">São Paulo</p>
      </article>
    </div>
  </article>
</div>
